
div#navcontainer {
	display: none;
}

/* stuff replicated selectively from print.css */

a:link, a:visited {
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}

a:link:after, a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
}

/* --- */

